
<mat-card>
  <mat-card-title>Owner List</mat-card-title>
  <mat-card-content>
    <mat-selection-list #list [(ngModel)]="selectedOptions" (ngModelChange)="getSelectedOwners($event)">
      <mat-list-option *ngFor="let owner of owners" [value] = "owner.dni">
        <h3 mat-line>
          <a mat-raised-button color="primary" [routerLink]="['/owner-edit', owner.dni]">{{owner.name}}</a>
        </h3>
        <mat-divider></mat-divider>
      </mat-list-option>
    </mat-selection-list>
    <p *ngIf="selectedOptions">
      Owners selected: {{selectedOptions}}
    </p>
    <p style= "color:blue; font-size: 20px;"  *ngIf="message">{{message}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn"  (click)="removeOwners()"
            *ngIf="selectedOptions">Delete</button>
  </mat-card-actions>
  <button mat-fab color="primary" [routerLink]="'/owner-add'">Add</button>
</mat-card>
